.main-content-nuestro-equipo {
    h2 {
      background-color: rgb(240, 184, 162);
      padding: 50px;
      text-align: center;
    }
  
    p {
      padding: 50px;
      background-color: rgb(230, 145, 112);
    }
  }

  /* RESPONSIVE DESIGN - MEDIA QUERY - MOBILE LAST */
/* TABLET */
@media (max-width: 768px){
  .main-content-nuestro-equipo{
    width: 100%;
}
}